Install the Bluemix (CloudFoundry) Command Line Interface

----------------------------------------------------------------------
## HINTS

Bluemix is many things, but at it's core is the open source Cloud Foundry platform. While you can use the website to manage applications, the primary tool for deploying and managing applications on Bluemix is the Cloud Foundry `cf` Command Line Interface.

To complete this exercise {cfinstall}

Once installed, run `{appname} verify` to verify that the `cf` tool has been installed properly.

----------------------------------------------------------------------

 __»__ To print these instructions again, run: `{appname} print`
 __»__ To view the Bluemix Documentation, run: `{appname} open`
 __»__ To verify your work, run: `{appname} verify`
 __»__ For help run: `{appname} help`
